/* .logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
} */

.navbar-brand {
  font-size: 20px;
}

.logo {
  font-size: 45px;
}

/* .navbar-brand span {
  margin-left: 15px;
} */
.secondary-menu {
  display: none;
}

@media (max-width: 1199px) {
  .main-menu {
    display: none;
  }

  .secondary-menu {
    display: block;
  }
}

/* @media (max-width: 329px) { */
@media (max-width: 352px) {
  .navbar-brand {
    font-size: 18px;
  }

  .logo {
    font-size: 40px;
  }
}

@media (max-width: 270px) {
  .navbar-brand {
    font-size: 15px;
  }

  .logo {
    font-size: 35px;
  }
}
