/* .logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
} */

.navbar-brand {
  /* font-size: 18px; */
  font-size: 22px;
}

.logo {
  font-size: 45px;
}

.navbar-brand span {
  margin-left: 15px;
}

@media (max-width: 329px) {
  .navbar-brand {
    font-size: 18px;
  }

  .logo {
    font-size: 40px;
  }
}

@media (max-width: 270px) {
  .navbar-brand {
    font-size: 15px;
  }

  .logo {
    font-size: 35px;
  }
}
