body {
  background-color: #c19578;
}

h4 {
  font-family: 'verdana';
  color: brown;
  font-size: 1.5rem;
  text-align: center;
}

.remove-btn {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
